<h3 class="alert btn-dark">Sidebar Menu</h3>
<div class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="/departments" routerLinkActive="active"><i class="fa fa-address-card"></i> Department</a>
    <a class="list-group-item list-group-item-action" routerLink="/employees" routerLinkActive="active"><i class="fa fa-users"></i> Employees</a>
    <a class="list-group-item list-group-item-action" routerLink="/projects" routerLinkActive="active"> <i class="fa fa-file-text-o"></i>Projects</a>
    <a class="list-group-item list-group-item-action" routerLink="/tasks" routerLinkActive="active"><i class="fa fa-tasks"></i> Tasks</a>
  </div>
