<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="alert alert-primary text-center" >Welcome to Task Management System</h1>
        </div>
        <hr>
      <div class="col-md-3 gx-4">
        <div class="card">
          <img src="../../assets/departments.png" class="card-img-top" alt="..." routerLink="/departments">
          <div class="card-body">
            <a routerLink="/departments"
            role="button"
            class="btn btn-warning btn-lg btn-block text-center">
           <span><i class="fa fa-list-alt"></i> Go to Departments</span>
         </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 gx-5">
        <div class="card">
          <img src="../../assets/employees.png" class="card-img-top" alt="..." routerLink="/employees">
          <div class="card-body">
            <a routerLink="/employees"
            role="button"
            class="btn btn-info btn-lg btn-block text-center">
           <span><i class="fa fa-list-alt"></i> Go to Employees</span>
         </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 gx-5">
        <div class="card">
          <img src="../../assets/projects.png" class="card-img-top" alt="..." routerLink="/projects">
          <div class="card-body">
            <a routerLink="/projects"
            role="button"
            class="btn btn-primary btn-lg btn-block text-center">
           <span><i class="fa fa-list-alt"></i> Go to Projects</span>
         </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 gx-5">
        <div class="card">
          <img src="../../assets/tasks.png" class="card-img-top" alt="..." routerLink="/tasks">
          <div class="card-body">
            <a routerLink="/tasks"
            role="button"
            class="btn btn-danger btn-lg btn-block text-center">
           <span><i class="fa fa-list-alt"></i> Go to Tasks</span>
         </a>
          </div>
        </div>
      </div>
    </div>
  </div>